@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/work\/svn\/base64\/scss\/index\.scss}line{font-family:\000031}}
#dropArea {
  border: 1px solid #545eff;
  width: 95%;
  margin: 0px auto;
  height: 300px; }
